@cloudhubapps:registry=https://npm.pkg.github.com
@sqwiromobile:registry=https://npm.pkg.github.com
@sqwiromobileapiapps:registry=https://npm.pkg.github.com
@sqwiromobileuserapps:registry=https://npm.pkg.github.com
@sqwiromobilesuperadminapps:registry=https://npm.pkg.github.com
@sqwiromobilebusinessapps:registry=https://npm.pkg.github.com
@sqwiromobilecustomapps:registry=https://npm.pkg.github.com

@cloudhub-js:registry=https://npm.pkg.github.com
@cloudhub-ux:registry=https://npm.pkg.github.com
@expocraft:registry=https://npm.pkg.github.com
@expocraft-icons:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:_authToken=${GH_NPM_PACKAGES}
